<!DOCTYPE html>
<html>
<head>
  <title>Student Form</title>
</head>
<body>

<h2>Add Student</h2>
<!-- <form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Add</button>
</form> -->

<h2>All Students</h2>
<form method="post">
  {% csrf_token %}

  <p>
    <label for="id_name">Name:</label>
    <input type="text" name="name" id="id_name" required maxlength="100">
  </p>
  <p>
    <label for="id_age">Age:</label>
    <input type="number" id="id_age" name="age" required min="0">
  </p>

  <p>
    <label for="id_note">Note:</label>
    <input type="text" id="id_note" name="note" maxlength="255">
  </p>

  <button type="submit">Add</button>
</form>

<table border="1" >
  <tr><th>ID</th><th>Name</th><th>Age</th><th>Actions</th></tr>
  {% for student in students %}
    <tr>
      <td>{{ student.id }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.age }}</td>
      <td>{{student.note}}</td>
      <td>
        
      </td>
    </tr>
  {% endfor %}
</table>

</body>
</html>
